MvcAdvertizer\MvcAdvertizer\bin\Debug
MvcAdvertizer\MvcAdvertizer\obj\Debug
MvcAdvertizer/.vs/MvcAdvertizer/config/applicationhost.config
MvcAdvertizer/.vs/MvcAdvertizer/v16/.suo
MvcAdvertizer/MvcAdvertizer/bin/Debug/netcoreapp3.1/MvcAdvertizer.deps.json
MvcAdvertizer/MvcAdvertizer/bin/Debug/netcoreapp3.1/MvcAdvertizer.dll
MvcAdvertizer/MvcAdvertizer/bin/Debug/netcoreapp3.1/MvcAdvertizer.exe
MvcAdvertizer/MvcAdvertizer/bin/Debug/netcoreapp3.1/MvcAdvertizer.pdb
MvcAdvertizer/MvcAdvertizer/bin/Debug/netcoreapp3.1/MvcAdvertizer.Views.dll
MvcAdvertizer/MvcAdvertizer/bin/Debug/netcoreapp3.1/MvcAdvertizer.Views.pdb
MvcAdvertizer/MvcAdvertizer/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MvcAdvertizer/MvcAdvertizer/obj/Debug/netcoreapp3.1/MvcAdvertizer.csproj.CoreCompileInputs.cache
MvcAdvertizer/MvcAdvertizer/obj/Debug/netcoreapp3.1/MvcAdvertizer.csproj.FileListAbsolute.txt
MvcAdvertizer/MvcAdvertizer/obj/Debug/netcoreapp3.1/MvcAdvertizer.csprojAssemblyReference.cache
MvcAdvertizer/MvcAdvertizer/obj/Debug/netcoreapp3.1/MvcAdvertizer.dll
MvcAdvertizer/MvcAdvertizer/obj/Debug/netcoreapp3.1/MvcAdvertizer.exe
MvcAdvertizer/MvcAdvertizer/obj/Debug/netcoreapp3.1/MvcAdvertizer.pdb
MvcAdvertizer/MvcAdvertizer/obj/Debug/netcoreapp3.1/MvcAdvertizer.Views.dll
MvcAdvertizer/MvcAdvertizer/obj/Debug/netcoreapp3.1/MvcAdvertizer.Views.pdb
MvcAdvertizer/MvcAdvertizer/obj/MvcAdvertizer.csproj.nuget.dgspec.json
MvcAdvertizer/MvcAdvertizer/obj/MvcAdvertizer.csproj.nuget.g.props
MvcAdvertizer/MvcAdvertizer/obj/project.assets.json
MvcAdvertizer/MvcAdvertizer/obj/project.nuget.cache
MvcAdvertizer/MvcAdvertizer/obj/Debug/netcoreapp3.1/MvcAdvertizer.csprojAssemblyReference.cache
