@font-face {
    font-family: 'FontAwesome';
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

.glyphicon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-chevron-right:before {
    content: "\f054";
}

.glyphicon-chevron-left:before {
    content: "\f053";
}

.glyphicon-chevron-down:before {
    content: "\f0d7";
    color: inherit;
}

.glyphicon-chevron-up:before {
    content: "\f0d8";
    color: inherit;
}

button {
    background: #ffffff;
    color: #252870;
    border-radius: 15px;
    padding: 5px 20px 5px 20px;
    padding-right: 20px;
    font-weight: bold;
}

table {
    border-collapse: separate; /* Способ отображения границы */
    border-spacing: 0px 20px; /* Расстояние между ячейками */
    min-width: 400px;
    width: auto;
    margin: auto;
}

tr {
    box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.12);
    -moz-box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.12);
    border-radius: 15px;
}

    tr:first-child {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

th {
    color: white;
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

    th:first-child {
        padding-left: 5px
    }

    th:last-child {
        padding-right: 5px
    }

td {
    padding: 10px; /* Поля вокруг текста */
    color: #4200be;
}
