@inject Microsoft.Extensions.Options.IOptions<MvcAdvertizer.Config.RecaptchaSettings> recaptchaSettings
@model AdvertViewModel
<script src="https://www.google.com/recaptcha/api.js"></script>
<div>
    <h3>Объявление</h3>
    <form asp-action="Create" method="post" role="form" class="form" enctype="multipart/form-data">
        @Html.Partial("AdvertView", Model)
        <div class="g-recaptcha" data-sitekey="@recaptchaSettings?.Value?.SiteKey"></div>        
        @if (Model.ShowRecaptchaErrorMessage)
        {
            <span class="text-danger">Вы не прошли проверку, попытайтесь еще раз!</span>
        }
        <div class="row">
            <a class="btn btn-secondary ml-3" asp-controller="Home" asp-action="Index">Вернутья</a>
            <input class="btn btn-success ml-2" type="submit" value="Создать" />
        </div>
    </form>
</div>
